.App-footer {
    background-color: black;
    /*flex: 0 0 auto;*/
}

.footer-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-right: calc(1.5rem * .5);
    padding-left: calc(1.5rem * .5);
    align-items: center;
}

.footer-logo {
    width: 48px;
    height: 48px;
    color: #8e8e8e;
    transition: color .15s ease-in-out;
}

.footer-logo img {
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.footer-logo, .footer-logo a {
    mix-blend-mode: exclusion;
    border-radius: 1px;
    transition: 0.7s ease;
}

.footer-logo:hover, .footer-logo a:hover {
  transform: scale(1.1);
}

